@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #365E32;
    --color-secundario: #81A263;
    --color-terciario: #E7D37F;

    --fuente-monserrath: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-monserrath);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

strong{
    color: var(--color-terciario);
}

.titulo-destaque{
    color: var(--color-terciario);    
    /*border: 1px solid #22D4FD;*/
    padding: 10px;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 6% 15% ;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-monserrath);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 280px;
    text-align: center;
    border-radius: 8px; 
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; 
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-monserrath);  
    border: 2px solid var(--color-terciario);
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__subtitulos{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link:hover{
    background-color: #272727;
}

.presentacion__imagen{
    height: 488px;
    width: 550px;
    border: 2%;
    top: 235px;
}

.footer{
    background-color: var(--color-terciario);
    padding: 24PX;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrath);
    font-size: 24px;
    font-weight: 400;
}